{{- if eq .chezmoi.os "darwin" }}
export PATH=/opt/homebrew/bin:$PATH
export HOMEBREW_PREFIX=$(brew --prefix)
export ZSH="$HOME/.oh-my-zsh"
source "$HOMEBREW_PREFIX/share/zsh-autosuggestions/zsh-autosuggestions.zsh"
source "$HOMEBREW_PREFIX/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
export ZSH="/usr/share/oh-my-zsh"
{{- end }}

ZSH_THEME="robbyrussell"
# CASE_SENSITIVE="true"
HYPHEN_INSENSITIVE="true"
zstyle ':omz:update' mode auto # update automatically without asking

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS="true"
# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"
# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"
# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="true"
# Uncomment the following line to display red dots whilst waiting for completion.
# You can also set it to another string to have that shown instead of the default red dots.
# e.g. COMPLETION_WAITING_DOTS="%F{yellow}waiting...%f"
# Caution: this setting can cause issues with multiline prompts in zsh < 5.7.1 (see #5765)
COMPLETION_WAITING_DOTS="true"
# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"
HIST_STAMPS="dd/mm/yyyy"

{{- if eq .chezmoi.os "darwin" }}
plugins=(ssh-agent zsh-navigation-tools zsh-interactive-cd virtualenv tmux bun bazel branch git sudo command-not-found common-aliases dotnet git-auto-fetch rust docker docker-compose docker-machine emoji dotenv extract flutter fzf gh cp command-not-found copypath git-extras aliases autoenv direnv vscode zoxide)
{{- end }}

{{- if eq .chezmoi.os "linux" }}
plugins=(ssh-agent zsh-autosuggestions zsh-syntax-highlighting zsh-navigation-tools zsh-interactive-cd virtualenv tmux systemd bun bazel branch git archlinux sudo command-not-found common-aliases dotnet git-auto-fetch rust docker docker-compose docker-machine emoji dotenv extract flutter fzf gh cp command-not-found copypath git-extras aliases autoenv direnv vscode zoxide)
{{- end }}

source $ZSH/oh-my-zsh.sh

export MANPATH="/usr/local/man:$MANPATH"

export LANG=en_US.UTF-8

export EDITOR='nvim'

# Aliases
alias vim="nvim"
alias vi="nvim"
alias pip="pip3"

RUSTC_WRAPPER=sccache
export NVM_DIR="$HOME/.nvm"
export PATH="$HOME/bin:/usr/local/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"

{{- if eq .chezmoi.os "darwin" }} 
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"                                       # This loads nvm
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" # This loads nvm bash_completionource /usr/share/nvm/init-nvm.sh
{{- end}}

{{- if eq .chezmoi.os "linux" }} 
export DOCKER_HOST=unix:///run/user/1000/docker.sock
export NODE_PATH="/usr/lib/node_modules"
{{- end }}
